body {
  margin: 0;
  background: rgb(0, 0, 0);
  -moz-perspective: 1000;
  -webkit-perspective: 1000;
  perspective: 1000;
  color: white;
  font-family: hwt-mardell, sans-serif;
  font-weight: 400;
  font-size: 20pt;
  font-style: normal;
  margin-left: 2%;
}

.screen {
  /* max-width: 70%;
  max-height: 40%; */
  width: 100%;
  height: 1000%;
  /* min-width: 60%;
  min-height: 40%; */
  margin: auto;
  position: fixed;
  top: 1600%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-perspective: 1600px;
  -webkit-perspective: 1600px;
  perspective: 1600px;
}

ul {
  display: block;
  position: fixed;
  width: 100%;
  height: 200%;
  margin: 0 auto;
  padding: 0;
  left: 10%;
  transform: translate(-50%, -50%);
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -moz-animation: rotate 40s infinite linear;
  -webkit-animation: rotate 40s infinite linear;
  animation: rotate 40s infinite linear;
}

li {
  position: fixed;
  display: block;
  list-style: none;
  width: 100%;
  pointer-events: none;
  -moz-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
li > div {
  float: left;
  width: 420px;
  height: 192px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  pointer-events: auto;
  overflow: hidden;
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -webkit-transform: rotateY(90deg);
  transform: rotateY(90deg);
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  opacity: 1;
}
li > div:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 0.5;
}
li > div img {
  width: 100%;
  height: 100%;
}

li:nth-child(1) {
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

li:nth-child(2) {
  -moz-transform: rotateY(36deg);
  -ms-transform: rotateY(36deg);
  -webkit-transform: rotateY(36deg);
  transform: rotateY(36deg);
}

li:nth-child(3) {
  -moz-transform: rotateY(72deg);
  -ms-transform: rotateY(72deg);
  -webkit-transform: rotateY(72deg);
  transform: rotateY(72deg);
}

li:nth-child(4) {
  -moz-transform: rotateY(108deg);
  -ms-transform: rotateY(108deg);
  -webkit-transform: rotateY(108deg);
  transform: rotateY(108deg);
}

li:nth-child(5) {
  -moz-transform: rotateY(144deg);
  -ms-transform: rotateY(144deg);
  -webkit-transform: rotateY(144deg);
  transform: rotateY(144deg);
}

li:nth-child(6) {
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

li:nth-child(7) {
  -moz-transform: rotateY(216deg);
  -ms-transform: rotateY(216deg);
  -webkit-transform: rotateY(216deg);
  transform: rotateY(216deg);
}

li:nth-child(8) {
  -moz-transform: rotateY(252deg);
  -ms-transform: rotateY(252deg);
  -webkit-transform: rotateY(252deg);
  transform: rotateY(252deg);
}

li:nth-child(9) {
  -moz-transform: rotateY(288deg);
  -ms-transform: rotateY(288deg);
  -webkit-transform: rotateY(288deg);
  transform: rotateY(288deg);
}

li:nth-child(10) {
  -moz-transform: rotateY(324deg);
  -ms-transform: rotateY(324deg);
  -webkit-transform: rotateY(324deg);
  transform: rotateY(324deg);
}

li:nth-child(11) {
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

@-webkit-keyframes rotate {
  0% {
    -moz-transform: rotateX(-10deg) rotateY(0deg);
    -ms-transform: rotateX(-10deg) rotateY(0deg);
    -webkit-transform: rotateX(-10deg) rotateY(0deg);
    transform: rotateX(-10deg) rotateY(0deg);
  }
  100% {
    -moz-transform: rotateX(-10deg) rotateY(360deg);
    -ms-transform: rotateX(-10deg) rotateY(360deg);
    -webkit-transform: rotateX(-10deg) rotateY(360deg);
    transform: rotateX(-10deg) rotateY(360deg);
  }
}
@keyframes rotate {
  0% {
    -moz-transform: rotateX(-10deg) rotateY(0deg);
    -ms-transform: rotateX(-10deg) rotateY(0deg);
    -webkit-transform: rotateX(-10deg) rotateY(0deg);
    transform: rotateX(-10deg) rotateY(0deg);
  }
  100% {
    -moz-transform: rotateX(-10deg) rotateY(360deg);
    -ms-transform: rotateX(-10deg) rotateY(360deg);
    -webkit-transform: rotateX(-10deg) rotateY(360deg);
    transform: rotateX(-10deg) rotateY(360deg);
  }
}
